.title{
	text-align:center;
	background-color:rgb(0, 34, 102);
	color:#ffffff;
	height:90px;
	padding-top:20px;
	border-radius: 9px;
}

body{
	font-weight:bold;
}


h4{
	color: white;
	background-color: rgb(0, 34, 102);
	border-radius: 5px;
	margin-top:0;
}
.searchParameters{
	border-radius: 10px;
	border-style: solid;
	border-color: gray;
	margin-top: 30px;
	margin-left: auto; 
	margin-right: auto;
	width: 98%;
	padding:-15px;


}

.footer{
	margin-top:25px;
	width:98%;
	margin-left:auto;
	margin-right:auto;
	border-style:solid;
	border-radius:9px;
}

#results{
	width:98%;
	margin-left:auto;
	margin-right:auto;
	padding:10px;
	background-color:rgb(239, 245, 245);
	color:rgb(0, 34, 102);
	font-size:20px;

	
}

.btn{
	background-color:rgb(166, 166, 166);
	color:white;
	margin-bottom:20px;
}